.search-result-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  padding: 0px 74.5px;
}

.search-result-content {
	display: flex;
  align-items: center;
  padding:  42px 15px 30px;
}

.link-home {
	font-size: 14px;
  color: #999999;
  text-decoration: none;
}

.link-home:hover, .link-search-result:hover {
  text-decoration: underline;
}

.search-result-bar {
  padding: 0px 11px 0px 8px;
  color: #6c757d;
}

.link-search-result {
  color: #444444;
  font-size: 14px;
  text-decoration: none;
}

.div-results {
  display: flex;
}

.most-relevants {
  padding: 10px 120px 0px 15px;
}

.select {
  border: 1px solid #000;
  border-radius: 3px;
  padding: 0.375rem 3rem 0.375rem 0.75rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center/8px 10px;
  appearance: none;
}

.div-result-count {
  width: 100%;
  max-width: 864px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.5px solid #cacaca;
  margin-bottom: 4px;
}

.result-number {
  color: #212529;
  font-size: 14px;
  font-weight: bold;
}

.result-text {
  font-size: 14px;
  color: #212529;
  padding-left: 6px;
}

.div-resultado-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.mas-relevantes {
  padding: 0px 6px;
}

.selector {
  border: 1px solid #000;
  border-radius: 3px;
  width: 100%;
  width: 147.5px;
  height: 38px;
  padding: 8px 28px 8px 12px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center/8px 10px;
  appearance: none;
}

.div-filtro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 6px;
}

.btn-filtro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 147.5px;
  height: 38px;
  background-color: #000000;
  color: white;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 770px) {
  .search-result-container {
    width: 100%;
    padding: 0px 30px;
  }

  .div-results {
    justify-content: center;
  }

  .search-result-content, .most-relevants {
    display: none;
  }

  .div-resultado-mobile {
    display: inline-flex;
  }

  .div-result-count {
    width: 100%;
    margin: 0px 0px 30px;
    padding: 0px 6px 13.132px;
  }

  .div-result-count, .div-resultado-mobile {
    margin: 16px -6px;
  }
}